// Variables:
@background-color: #f3f3f3;
@primary-color: #f8df1f;
@secondary-color: #ee252f;
@text-color: #050500;
@font-family: "Roboto", sans-serif;

body {
  font-family: @font-family;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: flex-end;
}

.navbar {
  span {
    color: @secondary-color;
  }
}

nav.navbar.navbar-expand-lg.navbar-light {
  background-color: @primary-color;
}

.navbar-light .navbar-nav .nav-link {
  color: @text-color;
}

.fontOne {
  font-size: 18px;
  color: @text-color;
  font-weight: 500;
  text-transform: uppercase;
}

.banner {
  background: url("../img/banner-bg.png");
  background-size: cover;
  background-position-x: center;
  img {
    display: block;
    width: 64%;
    margin: auto;
    padding-top: 38px;
  }
  button {
    display: block;
    margin: auto;
    border-radius: 8px;
    background-color: @primary-color;
    border: none;
    .fontOne;
  }
}

@media (min-width: 766px) {
  .banner img {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 69px;
  }
}
