body {
  font-family: "Roboto", sans-serif;
}
.navbar span {
  color: #ee252f;
}
nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #f8df1f;
}
.navbar-light .navbar-nav .nav-link {
  color: #050500;
}
.button_font {
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.heading-span {
  font-size: 30px;
  color: #ee252f;
  font-weight: 400;
  text-transform: uppercase;
}
.banner {
  position: relative;
  background: url("../img/banner-bg.png");
  background-size: cover;
  background-position-x: center;
}
.banner img {
  display: block;
  width: 64%;
  margin: auto;
  padding-top: 38px;
  position: relative;
}
.banner button {
  display: block;
  position: relative;
  margin: auto;
  border-radius: 8px;
  background-color: #f8df1f;
  border: none;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(59, 56, 56, 0.33);
}
.intro button {
  border-radius: 8px;
  background-color: #f8df1f;
  border: none;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.intro span {
  font-size: 30px;
  color: #ee252f;
  font-weight: 400;
  text-transform: uppercase;
}
.info {
  background: #f3f3f3;
}
footer {
  background: #080801;
  border-top: #f8df1f solid 0.7rem;
}
footer img {
  width: 40%;
}
@media (min-width: 766px) {
  .banner img {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 69px;
  }
}
@media (min-width: 990px) {
  .intro div {
    max-width: 65%;
  }
  .intro img {
    max-width: 200px;
  }
  .infor img {
    max-width: 180px;
  }
}
